  
<section class="wrapper image-wrapper bg-full bg-image bg-overlay bg-overlay-light-600" style="background-image: url('<%= asset_path("photos/bg23.png") %>');" data-image-src="<%= asset_path("photos/bg23.png") %>">
  <div class="container pt-10 xl:pt-14 lg:pt-14 md:pt-14 pb-8 xl:pb-10 lg:pb-10 md:pb-10">
    <div class="flex flex-wrap mx-[-15px] mt-[-50px] xl:mx-[-35px] lg:mx-[-20px] items-center">
      <!-- Image Column -->
      <div class="xl:w-5/12 lg:w-5/12 flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full xl:!order-2 lg:!order-2 !relative mt-[50px]">
        <figure class="m-0 p-0">
          <%= image_tag("lets_talk.png",
                        class: "w-auto !rounded-[.4rem]", 
                        alt: "image") %>
        </figure>
      </div>
      <!-- Content Column -->
      <div class="xl:w-7/12 lg:w-7/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full mt-[50px]">
        <h2 class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] leading-[1.3] !mb-3">Let’s Talk!</h2>
        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">
          If we approach you, you can expect us to present our services, show how we work, and attempt a sales pitch. But if you choose this option, you’ll receive free consultations where we won’t try to sell you anything. Instead, we’ll show you how we do things, and the decision will be entirely up to you. No sales pitch - promise.
        </p>
        <%= link_to 'Book Your Demo', "https://calendly.com/moocrew-intro/30min", target: "_blank", class: "btn btn-book !rounded-full !px-6 !py-2", aria: { label: "Book your demo" }, title: "Book your demo" %>
      </div>
    </div>
    <!--/.row -->
  </div>
</section>